doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/uikit/css/uikit.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')

    script(type = "text/javascript" src="/js/site.js")
    script(type = "text/javascript" src="/jquery/dist/jquery.js")
    script(type = "text/javascript" src="/uikit/js/uikit.js")

  body
    - if (error.hasOwnProperty('main')){
        div(class = "uk-alert uk-alert-danger" data-uk-alert)
            a(class="uk-alert-close uk-close")
            p= error['main']
    - }

    - if (info.hasOwnProperty('main')){
        div(class = "uk-alert uk-alert-success" data-uk-alert)
            a(clas="uk-alert-close uk-close")
            p= info['main']
    - }
    block pageHeader
    block content