extends layout

block pageHeader
    nav(class="uk-navbar hydro-navbar-border")
        img(class="uk-navbar-item uk-logo" src="/img/brand.png")
        div(class="uk-navbar-left")
            ul(class="uk-navbar-nav")
                li: a(href="/schemes") Schemes
                li: a(href="/collections") Collections
                li: a(href="/power") Power Plans
                li: a(href="/stats") Statistics

        div(class="uk-navbar-center")
            block Title
                h2(class='uk-font hydro-font-color-primary'): =Title

        div(class="uk-navbar-right")
            ul(class="uk-navbar-nav")
                li
                    a(href="#")= user['username']
                    div(class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" data-uk-dropdown)
                        ul(class="uk-nav uk-navbar-dropdown-nav")
                            li: a(href="/users/manage") Manage
                            li: a(href="/users/logout") Logout

block content

